<footer class="footer <% if (page.type == 'tags' || is_category() || is_tag()) { %>footer-fixed<% } %>">
    <div class="container">
        <p>
            <%= theme.copyright %>  | 
            <span id="busuanzi_container_site_uv">访客数：<span id="busuanzi_value_site_uv"></span> | </span>
            <span id="busuanzi_container_site_pv"> 浏览量：<span id="busuanzi_value_site_pv"></span> | </span>
            <%= theme.icp %>
        </p>
    </div>
    <script type="text/javascript">
        var cnzz_s_tag = document.createElement('script');
        cnzz_s_tag.type = 'text/javascript';
        cnzz_s_tag.async = true;
        cnzz_s_tag.charset = 'utf-8';
        cnzz_s_tag.src = 'https://w.cnzz.com/c.php?id=1277362501&async=1';
        var root_s = document.getElementsByTagName('script')[0];
        root_s.parentNode.insertBefore(cnzz_s_tag, root_s);
    </script>
</footer>