<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: '<%= theme.Valine.api_id %>',
        appKey: '<%= theme.Valine.api_key %>',
        notify:false, 
        verify:false, 
        avatar:'mm', 
        placeholder: '<%= theme.Valine.placeholder %>',
    })
</script>