@media (max-width: 1100px)
    .link-item 
        width: 48%
    
    .link-item:nth-child(3n)
        margin-right: 20px
    
    .link-item:nth-child(2n),
    .gallery-item:nth-child(3n)
        margin-right: 0
    
    .gallery-item:nth-child(4n)
        margin-right: 16px
    
    .gallery-item
        width: calc(33% - 10px)

@media (max-width: 790px)
    .sidebar
        width: 46px
        overflow: visible
        z-index: 9999
    
    .main-wrap
        margin-left: 46px
        width: calc(100% - 46px)
        z-index: 1
    
    .author-info
        display: none
    
    .archive-wrap,
    .categories-wrap
        padding-top: 20px

@media (max-width: 500px)
    .page-tit
        display: none
    
    .header-other
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
    
    .index-post.layout-flex
        flex-direction: column
    
    .index-post
        .post-header,
        .post-thumbnail
            width: 100%
        
        .post-thumbnail
            margin: 0
    
    .archive-month
        padding-left: 0
    
    .archive-post-item
        margin-left: 0
    
    .links-wrap
        padding-top: 10px
        > ul
            margin-left: 1em
    
    .link-item
        width 44%
        a
            padding: 12px 20px
        img
            display: none
    
    .gallery-item
        width: 100%
    
    .post-footer
        .line
            margin: 70px 0
            .post-tags
                top: -60px
                width: 100%
                text-align: center
    
    #reward
        z-index: 999
        margin-left: 22px
    .reward-lay
        padding: 2rem 4rem;
    
    .post-nav-item
        width: 45%
    
    .post-wrap > header > h1
        font-size: 2.4rem
    
    .post-content
        h1
            font-size: 1.5em
        h2
            font-size: 1.25em
        h3
            font-size: 1em